.userAnalyticsContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem auto;
  /* border: 1px
  solid red; */
}

.analyticsSelectionBar {
  /* border: 1px solid red; */
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.analyticsSelectionBar select {
  width: fit-content;
}

.analyticsSelectionBar .analyticsDateHandlers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 20%;
}
.analyticsSelectionBar .analyticsDateHandlers div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.analyticsSelectionBar .analyticsDateHandlers div label {
  font-size: 12px;
}
.analyticsSelectionBar .analyticsDateHandlers div input[type="date"] {
  width: 100%;
}

.analyticsSelectionBar .analyticsDateHandlers div.analyticsButtonBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.analyticsSelectionBar .analyticsDateHandlers div.analyticsButtonBlock button {
  background-color: var(--buttonSecondary);
  color: var(--textPrimary);
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  box-shadow: -1px 1px 3px #000;
}

.analyticsData {
  width: 80%;
  max-width: 1200px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.analyticsData > div {
  padding: 1rem;
}

.analyticsData div h3 {
  padding: 10px;
}
