.searchBar {
  display: flex;
  align-items: first baseline;
  justify-content: center;
  gap: 1rem;
}

.ticketNumberSearch {
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.ticketNumberSearch label {
  font-size: 12px;
  color: var(--linkText);
  padding-left: 4px;
}
.ticketNumberSearch input {
  padding: 6px 3px;
  border: 1px solid var(--textSecondary);
  border-radius: 4px;
  font-size: 1rem;
  width: 150px;
  height: 39px;
}

.monthSearch {
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.monthSearch label {
  font-size: 12px;
  color: var(--linkText);
  padding-left: 4px;
}

.monthSearch select {
  padding: 4px 3px;
  border: 1px solid var(--textSecondary);
  border-radius: 4px;
  font-size: 1rem;
  width: 200px;
}

.personSearch {
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.personSearch label {
  font-size: 12px;
  color: var(--linkText);
  padding-left: 4px;
}

.personSearch select {
  padding: 4px 3px;
  border: 1px solid var(--textSecondary);
  border-radius: 4px;
  font-size: 1rem;
  width: 200px;
}

/*
EOD Data Details
*/

.eodDetails {
  border: 1px solid var(--backgroundDark);
  border-radius: 12px;
  margin-block: 1rem;
  padding: 1rem;
  max-width: 1000px;
  margin: 1rem auto;
}
.ticketHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.eodDetails h2 {
  font-size: 2rem;
  color: var(--linkText);
  margin-bottom: 10px;
}
.eodDetails p.eodDate {
  font-weight: 600;
  color: var(--bannerBackground);
  font-style: italic;
}

.eodDataButtonBlock {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.eodDataButtonBlock button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: var(--buttonPrimary);
  color: var(--textPrimary);
  font-weight: 600;
  cursor: pointer;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
.eodDataButtonBlock button:last-child {
  background-color: darkred;
}
button.submitEditsButton {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: rgb(1, 61, 1);
  color: var(--textPrimary);
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.eodDetails ul {
  margin-block: 1.5rem;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  color: var(--buttonPrimary);
}
.eodDetails ul li {
  font-size: 1rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
}
.eodDetails ul li small {
  font-weight: 400;
  margin-top: 0.25rem;
  border-radius: 6px;
  background-color: var(--textSecondary);
  padding: 8px 6px;
  color: var(--textPrimary);
}

.eodSubTotal {
  font-size: 1.5rem;
  text-align: right;
  margin-top: 1rem;
}

.eodDetails ul li small input {
  background-color: transparent;
  border: 1px solid var(--textPrimary);
  border-radius: 4px;
  color: var(--textPrimary);
  background-color: var(--linkText);
  width: 100%;
  height: 22px;
  font-size: 18px;
  padding: 4px 2px;
}
