.eodListBox {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-top: 1rem;
  width: 100%;
  max-width: 1000px;
  margin: 1rem auto;
}

.noEODs {
  color: var(--bannerBackground);
  font-size: 1.5rem;
  margin-block: 1rem;
  place-content: center;
  width: 100%;
  text-align: center;
}

.searchBar {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto 2rem auto;
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: first baseline;
  justify-content: space-between;
}
.searchBar div {
  display: flex;
  flex-direction: column;
}
.searchBar div label {
  font-size: 12px;
  color: var(--linkText);
  padding-left: 4px;
  margin-bottom: 4px;
}
.searchBar div input,
select {
  padding: 4px 0 4px 6px;
  border: 1px solid var(--textSecondary);
  border-radius: 4px;
  font-size: 1rem;
  width: 200px;
  height: 39px;
  color: var(--backgroundDark);
}
.dateSearchBlock {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.reportBlock {
  align-self: last baseline;
  justify-self: flex-end;
  display: flex;
  gap: 1rem;
}

.runReportButton {
  font-size: 1.5rem;
  border-radius: 8px;
  padding: 4px 10px;
  border: none;
  color: var(--textPrimary);
  background-color: var(--bannerBackground);
  box-shadow: -1px 1px 6px var(--linkText);
}
.runReportButton svg {
  color: rgb(1, 133, 1);
  margin-left: 6px;
}
.runReportButton:hover {
  background-color: var(--linkText);
}

.eodListBox {
  list-style-type: none;
  padding: 0;
  margin-block: 1rem;
  width: 100%;
}
.eodListBox li {
  border: 1px solid var(--linkText);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.eodListBox li div:first-child {
  align-self: flex-start;
}
.eodListBox li div h3 {
  margin: 0;
  font-size: 1.8rem;
  color: var(--bannerBackground);
  text-decoration: underline;
  margin-bottom: 2rem;
}
.eodListBox li div p {
  margin: 0.2rem 0 0 0;
  color: var(--linkText);
}
.eodListBox li div p.subTotal {
  font-weight: bold;
  color: var(--buttonPrimary);
}
.eodListBox li:hover {
  background-color: var(--textSecondary);
  cursor: pointer;
}

.eodListBox div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.eodListBox div:last-child p {
  font-size: 12px;
  color: var(--background);
}
