.userList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem 4rem;
  max-width: 1000px;
  margin: 0 auto;
}

.userList li {
  border: 1px solid var(--linkText);
  width: 300px;
  padding: 10px 0 12px 8px;
  border-radius: 8px;
  box-shadow: -1px 1px 4px var(--linkText);
  background-color: var(--textSecondary);
  color: var(--textPrimary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.userList li div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.userList li div:first-child svg {
  margin-right: 14px;
  color: var(--buttonPrimary);
  font-size: 24px;
}

.userList li h2 {
  color: var(--buttonPrimary);
}

.userList li:hover {
  background-color: var(--linkText);
}
