.userList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
  width: 80%;
  margin: 1rem auto;
}

.userList li {
  box-shadow: -1px 1px 10px var(--buttonPrimary);
  border: 3px solid var(--bannerBackground);
  background-color: var(--linkText);
  border-radius: 8px;
  padding: 0.6rem;
  width: 90%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.userList li div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userList li div:first-child svg {
  color: var(--bannerBackground);
  font-size: 1.8rem;
}

.userList li div:last-child {
  color: var(--textPrimary);
}

.userList li div h2 svg.king {
  color: goldenrod;
  position: absolute;
  top: -20px;
  left: -24px;
  font-size: 2.4rem;
  transform: rotate(-30deg);
}
