.muMasterBlock {
  margin: 1rem auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.muTopBar {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.muTopBar div:first-child {
  display: flex;
  gap: 10px;
  width: 100%;
}

.muTopBar div.selectUsers label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.muTopBar div.selectUsers label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  border: 2px solid #aaa;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.selectUsers label:has(input[type="checkbox"]:checked) {
  background-color: var(--bannerBackground);
  color: white;
  border-color: var(--buttonPrimary);
}

.muTopBar .selectDates {
  display: flex;
  gap: 3rem;
}

.muTopBar .selectDates label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  gap: 4px;
}

.muTopBar .selectDates label input[type="date"] {
  font-size: 20px;
  border-radius: 8px;
}

.muTopBar .selectDates button.runReport {
  background-color: var(--linkText);
  color: var(--textPrimary);
  border: none;
  font-size: 1.2rem;
  font-weight: 800;
  height: fit-content;
  align-self: flex-end;
  padding: 10px 25px;
  border-radius: 12px;
  box-shadow: -1px 1px 4px #333;
}

.muTopBar .selectDates button.runReport:disabled {
  background-color: #aaa;
  color: #333;
}

.muReportData {
  width: 80%;
  max-width: 1200px;
}
