.userReportsBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 1rem auto;
}

.userReportsControlBar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  border-bottom: 1px solid var(--linkText);
  padding-bottom: 14px;
}

div.dayMover {
  display: flex;
  align-items: center;
  gap: 10px;
}

div.dayMover button {
  background-color: var(--bannerBackground);
  color: var(--textPrimary);
  border: 1px solid var(--linkText);
  border-radius: 4px;
  padding: 6px 14px;
  font-size: 14px;
}
button.runToday {
  font-size: 14px;
  padding: 11px 18px;
  border: none;
  border-radius: 6px;
  background-color: var(--linkText);
  color: var(--textPrimary);
  box-shadow: -1px 1px 5px var(--linkText);
}
button.runToday:hover {
  background-color: var(--buttonSecondary);
}

.userReportsControlBar .dateBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.userReportsControlBar .dateBlock div {
  display: flex;
  flex-direction: column;
}

.userReportsControlBar .dateBlock div label {
  font-size: 12px;
}
.userReportsControlBar .dateBlock div input[type="date"] {
  font-size: 18px;
  border: 1px solid var(--linkText);
  padding: 4px;
  border-radius: 8px;
}

.reportBlock {
  margin-top: 1rem;
  width: 80%;
  max-width: 1200px;
}
