.reportPage {
  border: 2px solid #000;
  padding: 1rem;
}

.reportPage .reportHeader {
  display: flex;
  flex-direction: row;
  align-items: last baseline;
  justify-content: space-between;
  font-size: 1.2rem;
  width: 100%;
}

.reportHeader small.multiList {
  display: flex;
  flex-direction: column;
  margin-block: 10px;
  font-weight: 600;
}

p.reportHeaderDate {
  font-style: italic;
  margin-left: 3px;
}

.reportHeader button.printPageButton {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.reportHeader button.printPageButton svg {
  color: var(--buttonPrimary);
}
.reportHeader button.printPageButton svg:hover {
  color: var(--linkText);
}

.reportData {
  list-style-type: none;
  padding: 0;
  margin-block: 1rem;
  width: 100%;
}

.reportData li {
  border: 1px solid var(--linkText);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reportData li div:first-child {
  align-self: flex-start;
}
.reportData li div h3 {
  margin: 0;
  font-size: 1.8rem;
  color: var(--bannerBackground);
  text-decoration: underline;
  margin-bottom: 2rem;
}
.reportData li div p {
  margin: 0.2rem 0 0 0;
  color: var(--linkText);
}
.reportData li div p.subTotal {
  font-weight: bold;
  color: var(--buttonPrimary);
}
.reportData li:hover {
  background-color: var(--textSecondary);
  cursor: pointer;
}

.reportData div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.eodListBox div:last-child p {
  font-size: 12px;
  color: var(--background);
}

@media print {
  body,
  html {
    margin: 0;
    padding: 0;
  }

  body * {
    visibility: hidden;
  }

  .reportPage,
  .reportPage * {
    visibility: visible;
  }

  .reportPage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0; /* remove padding for printing */
    margin: 0; /* remove margin for printing */
    border: none; /* optional: remove border */
    font-size: 12pt; /* adjust font size to fit content */
  }

  .reportHeader > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: last baseline;
  }

  .reportHeader > div > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
  }

  .reportHeader small.multiList {
    align-items: flex-end;
  }

  .reportHeader h2 {
    font-size: 1.2rem;
  }
  .reportHeader p.reportHeaderDate {
    /* font-size: 1.5rem; */
    /* transform: scale(0.8); */
    align-self: center;
    margin: 0;
  }

  .reportPage button {
    display: none;
  }

  .reportPage * {
    background: none !important;
    color: black !important;
  }

  .reportData {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 12px;
  }

  .reportData li {
    margin: 0.2rem 0; /* smaller spacing */
    padding: 8px;
  }
  .reportData li:first-child {
    font-size: 20pt;
  }

  @page {
    size: A4; /* or letter */
    margin: 0.5in; /* small margin for printer */
  }
}
