.dateRangeContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  width: 80%;
  max-width: 1200px;
  margin: 2rem auto;
}

.dateInputContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.dateInput {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.dateInput label {
  font-size: 14px;
  color: var(--linkText);
}

.dateRangeContainer input[type="date"] {
  font-size: 18px;
  border: 2px solid var(--linkText);
  color: var(--buttonPrimary);
}

.dateRangeContainer button {
  background-color: var(--linkText);
  color: var(--textPrimary);
  border: none;
  border-radius: 8px;
  padding: 10px 14px;
  font-size: 1rem;
  box-shadow: -1px 1px 8px var(--background);
}

.dateRangeReportData {
  width: 80%;
  max-width: 1200px;
  margin: 1rem auto;
}
