.dateRangeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 80%;
  max-width: 500px;
  margin: 2rem auto;
}

.dateInputContainer {
  display: flex;
  gap: 12px;
}
.dateInput {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.dateInput label {
  font-size: 14px;
  color: var(--linkText);
}

.dateRangeContainer input[type="date"] {
  font-size: 18px;
  border: 2px solid var(--linkText);
  color: var(--buttonPrimary);
}

.dateRangeButtonBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.dateRangeButtonBlock button {
  background-color: var(--linkText);
  color: var(--textPrimary);
  border: none;
  border-radius: 8px;
  padding: 18px 20px;
  font-size: 1.5rem;
  box-shadow: -1px 1px 8px var(--background);
  width: 100%;
}
