.reportHomeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  width: 80%;
  max-width: 1200px;
  margin: 2rem auto;
}

.reportHomeContainer input[type="date"] {
  font-size: 18px;
  border: 2px solid var(--linkText);
  color: var(--buttonPrimary);
}

.reportHomeDatePicker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.reportHomeDatePicker > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reportHomeDatePicker > div button {
  background-color: var(--buttonSecondary);
  color: var(--textPrimary);
  border: none;
  border-radius: 6px;
  padding: 5px 8px;
  box-shadow: -1px 1px 4px #000;
  font-size: 14px;
}
.reportHomeDatePicker > div button:nth-child(2) {
  background-color: transparent;
  color: var(--linkText);
  border: none;
  box-shadow: unset;
  padding: 0;
  text-decoration: underline;
  font-weight: 700;
}

.reportHomeContainer button.runMasterButton {
  background-color: var(--linkText);
  color: var(--textPrimary);
  border: none;
  border-radius: 8px;
  padding: 10px 8px;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: -1px 1px 8px var(--background);
}

.singleDateReportContainer {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
